# Python
__pycache__/
*.py[cod]
*.pyo
# Virtual environments
.venv/
venv/
user-venv/

# Environment variables
.env

# VS Code
.vscode/

# Kubernetes Secrets
kubernetes/secrets/postgres-secret.yaml

# Docker Compose Local File
docker-compose.yml

# Docker Image Archives
*.tar
